.format {
/*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;*/
} 

#test {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.App {

  text-align: left;
  display: flex;
  flex-direction: row;
  padding-left: 20px;


}

.App-logo {
/*  animation: App-logo-spin infinite 20s linear;
*/ height: 40vmin;
  pointer-events: none;
}

.openingPage {
  text-align: center;
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 10


}

.welcomeText {

  margin-top: 30vh;
  font-size: 90px;

}

.startbuttonstyle {
  text-align: center; 
}
.clickToStart {
  margin-top: 7vh;
  height: 100px;
  width: 400px;
  border-radius: 30px;
  background-color: #597EF7;
  color: white;
  font-size: 35px;
  outline: none !important;
  box-shadow: none;

}

.clickToStart: hover {
  transform: scale(1.2);
}


.leftside {
  background-color: white;
  flex-direction: column;
  color: black;
  padding-right: 200px;
  margin-top: 5vh;
  margin-left: 5vw;
  height: 100vh;
}

.App-link {
/*  color: #61dafb;*/
}

.title {

 font-family: arial;
  font-size: 50px;
  color: #000000;
  letter-spacing: 0;
  align-items: left;
  justify-content: left;
  font-weight:  bold;
  margin-top: 20px;
  margin-bottom: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colshape {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  padding-top: 10px;
  padding-bottom: 10px;

}


.buttonClicked {
  background-color: #597EF7;
  color: white;
  height:  50px;
  width: 170px;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  outline: none !important;
  box-shadow: none;
/*        position: absolute;
  left: 140px;*/

}
.buttonUnclicked {
  background-color: #D8D8D8;
  color: black;
  height:  50px;
  width: 170px;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  outline: none !important;
  box-shadow: none;

}

.buttonUnclicked:hover, .buttonUnclicked:active {
 background-color: #597EF7;
 color: white;
 opacity: 0.48;
 outline: none !important;
 box-shadow: none;

}


#left {
  border-radius: 25px 0px 0px 25px;

}
#right {
  border-radius: 0px 25px 25px 0px;
}

.buttongroup {

  display: flex;
  flex-direction: row;
  position: relative;
  left: 100px;
}

.buttongroup2 {

  display: flex;
  flex-direction: row;
  position: relative;
  left: 51px;
}

.buttongroup3 {

  display: flex;
  flex-direction: row;
  position: relative;
  left: 88px;
}

.buttonflex{
  display: flex;
  flex-direction: row;
  margin: 30px;

}

.hsv{
  font-weight: lighter;
  font-size: 15pt;
  font-family: arial;
  margin-right: 0px;


}
.checkboxes {
  padding-left: 140px;
  padding-top:30px;
  flex-direction: row;

}

.shapecheck {
  transform: scale(1.4);
  color: black;
  vertical-align: middle;

}

.circleClicked {
  height: 80px;
  width: 80px;
  background-color: #597EF7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
  margin-left: 6px;

}

.circleUnclicked {
  height: 80px;
  width: 80px;
  background-color: #D8D8D8;
  border-radius: 50%;
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
  margin-left: 6px;

}

.squareClicked {
  height: 80px;
  width: 80px;
  background-color: #597EF7;
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
  margin-left: 6px;
}

.squareUnclicked {
  height: 80px;
  width: 80px;
  background-color: #D8D8D8;
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
  margin-left: 6px;
}

.triangleClicked {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #597EF7;
  display: inline-block;
  vertical-align: middle;

}


.triangleUnclicked {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #D8D8D8;
  display: inline-block;
  vertical-align: middle;

}


.conditionaltext {
  padding-left:180px;
  padding-top: 10px;
  padding-bottom: 0px;

}

.text{
  position: absolute;

}

.genbutton {
  color: white;
  height: 65px;
  width: 300px;
  background-color: #597EF7;
  border-radius: 75px;
  margin-top: 5px;
  font-size: 23px;
  outline: none !important;
  box-shadow: none;

}

.genbutton:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  outline: none !important;
  box-shadow: none;
}

.rightside {
  display: flex;
/*  padding-left: 50px;*/
/*  margin-right: 40px;*/
  height: 100vh;
  width: 400px;
  background-color: #D8D8D8;
  justify-content: center;

}

.rowp1 {
  display: flex;
  direction: row;
  justify-content: space-around;


}


.rightsideflex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

#samples {
  text-align: 'center';
  font-family: arial;
  font-weight: bold;
  margin-bottom: 2vh;
  margin-top: 0px;
  font-size: 25pt;
  position: relative;
  right: 75px;

}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*for when i added instructions on the right side
*/.evenmorerightside {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  

}

.instone {
  padding: 5px;
}
.insttwo {
  padding:  5px;
}
