.rightside3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;

}

.square4 {
  height: 120px;
  width: 120px;
  background-color: #D8D8D8;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;


}


.row3 {
	display: flex;
	flex-direction: row;

	padding-left: 25px
}

.instr {
	padding-top: 20px;
}

.history {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: white;
  height: 150px;
  width: 530px;
  align-items: center;
  border-radius: 12px;


} 


.popup {
	height: 770px;
	width:  650px;
	background-color: white;
	display: flex;
	flex-direction: column;
	z-index: 9;
	position: absolute;
	align-items: center;
	right: 652px;
	top:130px;
	border: .8px solid grey;
}

.cancelbutton {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	position: absolute;
	right: 2px;
	margin: 4px;
	top: 2px;
	border: none;
	background: none;
	font-size: 30px;
	color: grey;
  	outline: none !important;
  	box-shadow: none;	

}

.popupimage {
	margin-top: 35px;
	height: 650px;
	width: 650px;
	padding: 5px;

}


.favoritebutton {
    background-color: #597EF7;
    font-size: 19px;
	height: 60px;	
	width:  250px;
	color: white;
	border-radius: 30px;
	outline: none !important;
  	box-shadow: none;	

}

.explorebutton {
	background-color: black;
	height: 40px;	
	width:  140px;
	color: white;
	border-radius: 20px;
	margin-left: 200px;

}

.popuprow {
	direction: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
}