.loading {
  position: absolute;
  left:230px;
  top: 300px;
  z-index: 10
}

.littleloading {
  position: absolute;
  left:435px;
  top: 415px;
  z-index: 10;

}


.littleloading2 {
  position: absolute;
  left:1035px;
  top: 415px;
  z-index: 10;

}

.lrcontainer2 {
	display: flex;
	flex-direction: row;

}

.poster {
  height: 120px;
  width: 120px;
  margin: 5px;

}

.posterclicked {
  height: 120px;
  width: 120px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 4px;
  border: solid 2.3px black;
  position: relative;
  right: 1px;

}

.poster:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}


.line {
  position: absolute;
  z-index: 1;
}
.line2 {
    position: absolute;
    z-index: 1;
}
.line3 {
    position: absolute;
    z-index: 1;
}
.line4 {
    position: absolute;
    z-index: 1;
}

.toplefttriangle {
  position: absolute;
  z-index: 1;
  transform: rotate(-45deg);
  left: 666px;
  top: 36px;
}

.toptriangle {
  position: absolute;
  z-index: 1;
  left: 1132px;
  top: 35px;
}

.toprighttriangle {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  left: 1591px;
  top: 36px;
}

.midlefttriangle {
  position: absolute;
  z-index: 1;
  transform: rotate(-90deg);
  left: 665px;
  top: 496px;
}

.midrighttriangle {
  position: absolute;
  z-index: 1;
  transform: rotate(90deg);
  left: 1592px;
  top: 496px;
}

.leftbottriangle {
  position: absolute;
  z-index: 1;
  transform: rotate(-135deg);
  left: 671px;
  top: 957px;
}

.midbottriangle {
  position: absolute;
  z-index: 1;
  transform: rotate(180deg);
  left: 1132px;
  top: 959px;
}

.rightbottriangle {
  position: absolute;
  z-index: 1;
  transform: rotate(-225deg);
  left: 1589px;
  top: 957px;
}

.leftside2 {
  display: flex;
  padding-left: 40px;
  padding-right: 20px;
  flex-direction: column;
  height: 100vh;
  width: 560px;
  background-color: #D8D8D8;

}

.posterrows{
  padding-bottom: 2px;
  height:650px;
  overflow-y: scroll;
  margin-right: 10px;
}


.favorites {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: white;
  height: 170px;
  width: 550px;
  align-items: center;
  border-radius: 12px;
} 

.favoritestitle {
  padding-left: 10px;
  font-size: 17px;
/*  font-weight: lighter;*/
}

.downloadbuttonsrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  right: 2px;

}

/*download button*/
.download {
  height: 22px;
  width: 40px;
  border-radius:  10px;
  font-weight: lighter;
  font-size: 15px;
  position: relative;
  left: 44.5px;
  outline: none !important;
  box-shadow: none;
}

.download:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.colly {
  display: flex;
  flex-direction: column;
}


.instructions {
  font-family: arial;
  padding-top: 20px;
  font-size: 18px;
}

/*Back button and transition mode button*/
.button2 {
	height: 53px;
	width: 102px;
  margin-top: 7px;
  background-color: #f4f4f4;
  border-radius: 75px;
  text-align: center;
  font-size: 14px;
  outline: none !important;
  box-shadow: none;
  font-weight: lighter;
}

.button2:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  
}

.refreshbuttoncontainer {
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 0px;


}
.refreshbutton {

  height: 30px;
  width: 100px;
  background-color: #f4f4f4;
  border-radius: 30px;
  margin-top: 7px;
  font-weight: lighter;
  font-size: 14px;
  position: relative;
  left: 420px;
  
  outline: none !important;
  box-shadow: none;

}

.refreshbutton:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.row {
  display: flex;
}

.buttflexrow{

  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-right:10px;
  padding-bottom:5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.rightside2 {

  background-color: white;
	padding-left: 10px;
	padding-top: 20px;

}

.rightsidetransition {

  background-color: white;
  padding-left: 160px;
  padding-top: 100px;

}

.simple {
	transform: rotate(-90deg);
  position: relative;
  right: 3px;
  top: 473px;
  height: 20px;
  font-weight: bold;
}

.complex {
  transform: rotate(-270deg);
  position: relative;
  right: 0px;
  top: 480px;
  height: 5px;
  font-weight: bold;
}

.sideflex{
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 3;
}

.topflex {
  font-weight: bold;
  padding-bottom: 13px;
	display: flex ;
	flex-direction: row;
	justify-content: space-between;

}

.bottomflex {
  padding-top: 13px;
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;

}

.soft {
  position: relative;
  left: 14px;
  font-weight: bold;
}

.sharp {
  position: relative;
  right: 6px;
  font-weight: bold;
}

.null {
	visibility: hidden;
}


/*grey squares*/
.square2 {
  height: 120px;
  width: 120px;
  background-color: #D8D8D8;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  border: 2px;
}


/*white squares*/
.square3 {
  height: 120px;
  width: 120px;
  background-color: white;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;

}


/*experimental zone*/

/*central squares*/
.centersquare {
  height: 120px;
  width: 120px;
  background-color: #D8D8D8;
  display: inline-block;

  vertical-align: middle;
  margin: 3px;
  border: solid black 2px;
}

/*#square2 {
  margin-right: 9px;
}*/

